.button--download {
  button {
    color: white;
  }

  button:hover {
    color: white;
  }

  .wrapper {
    display: flex;

    .icon {
      height: 20px;

      img {
        height: 23px;
        margin-right: 2px;
      }
    }
  }
}

@media (max-width: 768px) {
  .button--download {
    display: none;
  }
}

div.download-icon {
  width: 20px;
  height: 20px;
  justify-content: center;
  display: flex;
}

svg.icon-refresh {
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  animation: spin-animation 1s infinite ease;
}

svg.icon-refresh > circle.primary {
  fill: white;
}

svg.icon-refresh > path.secondary {
  fill: cornflowerblue;
}

@keyframes spin-animation {
  to {
    transform: rotate(-360deg);
  }
}

div.download-text {
  padding-left: 1px;
}

div.filename-field-wrapper {
  background: white;
  position: absolute;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px black;
  border-radius: 5px;
  width: 280px;
  margin-left: -83.33px;
  margin-top: 12px;
}

div.ffw-dark {
  background: dimgray;
  border: solid 1px whitesmoke;
}

div.confirm-wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

div.input-wrapper {
  display: flex;
}

div.input-label {
  padding: 10px;
  font-size: smaller;
  font-style: italic;
}

div.arrow-up {
  position: absolute;
  width: 0;
  height: 0;
  margin-top: 2px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  margin-left: 83.3px;
}
div.au-dark {
  border-bottom: 10px solid whitesmoke;
}
div.CF-help-icon {
  padding-top: 6px;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 2px;
  color: dimgray;
}

div.CF-help-icon:hover {
  color: black;
}

div.cfhi-dark {
  color: lightgray;
}

div.cfhi-dark:hover {
  color: whitesmoke;
}
