.button--download {
  button {
    color: white;
  }

  button:hover {
    color: white;
  }

  .wrapper {
    display: flex;

    .icon {
      height: 20px;

      img {
        height: 23px;
        margin-right: 2px;
      }
    }
  }
}

@media (max-width: 768px) {
  .button--download {
    display: none;
  }
}

div.download-icon {
  width: 20px;
  height: 20px;
  justify-content: center;
  display: flex;
}

svg.icon-refresh {
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  animation: spin-animation 1s infinite ease;
}

svg.icon-refresh > circle.primary {
  fill: white;
}

svg.icon-refresh > path.secondary {
  fill: cornflowerblue;
}

@keyframes spin-animation {
  to {
    transform: rotate(-360deg);
  }
}

div.download-text {
  padding-left: 1px;
}

div.download-zoom-tip {
  border-radius: 10px;
}

div.info-floater {
  display: inline-flex;
}
