div.file-select-multi {
  max-height: 224;
  width: 250;
  font-weight: "normal";
}

div.options-wrapper {
  position: absolute;
  right: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: whitesmoke;
  border: 1px solid darkgrey;
}

button.download-options-button {
  border: none;
  background-color: white;
  border-radius: 50%;
  padding: 0;
  height: 2rem;
  width: 2rem;
}

button.download-options-button:hover {
  background: var(--ifm-color-emphasis-200);
}

div.download-options {
  margin-right: 11px;
}

div.options-title {
  font-size: large;
}

div.title-wrapper {
  border-bottom: 1px solid darkgray;
}
