.control-panel {
    position: fixed;
    z-index: 10;
    top: 10;
    left: 0;
    opacity: 75%;
    max-width: 320px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #6b6b76;
    text-transform: uppercase;
    outline: none;
    border: 3px;

  }