.custom-controls {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  color: black;
  margin: 4px;
  outline: none;
  pointer-events: none;

  .title {
    padding: 2px 0;
  }
}

.custom-controls * {
  pointer-events: auto;
}

div.bug-nub {
  float: right;
  margin-top: 146px;
  margin-right: 10px;
  background: white;
  width: 29px;
  height: 29px;
  position: relative;
  display: grid;
  place-items: center;
}

svg.bug-nub-icon > path.primary {
  fill: var(--ifm-color-primary);
}

.bug-nub:hover {
  border-radius: 5px;
}

a.bug-nub-link {
  height: 25px;
  width: 25px;
}
