.inspector-panel {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 2px 4px white;
  padding: 13px 10px;
  margin: 4px;
  font-size: 13px;
  line-height: 2;
  outline: none;
  border: 3px;
  border-radius: 10px;
  border-color: rgba(15, 15, 15, 0.8);
  max-height: 80vh;
  position: relative;

  p {
    margin: 0;
  }

  @media (max-width: 768px) {
    max-height: 50%;
  }

  table {
    background-color: rgba(255, 255, 255, 0.95);
  }

  table th,
  table td {
    padding: 0;
  }

  table td {
    padding-right: 0.5em;
    vertical-align: top;
    border-left: 0;
    border-right: 0;
    word-break: break-all;
  }
  table td:first-child {
    text-align: left;
    width: 30%;
  }
  table td:first-child {
    word-break: normal;
  }
  table td:last-child {
    width: 70%;
  }
}

.theme-dark .inspector-panel {
  background-color: rgba(0, 0, 0, 0.7);

  table {
    background-color: rgba(0, 0, 0, 0.95);
  }

  box-shadow: 0 2px 4px black;
  color: white;

  scrollbar-color: var(--ifm-color-secondary-darkest)
    var(--ifm-navbar-background-color);
}
