div.startup-box-light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 450px;
  background: white;
  border-radius: 15px;
}

div.startup-box-dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: black;
  border-radius: 15px;
  color: whitesmoke;
}

button.start {
  background: var(--ifm-color-primary-darker);
  margin-left: 20px;
  margin-right: 10px;
  width: 170px;
  border: none;
  box-shadow: var(--ifm-global-shadow-md);
  font-weight: var(--ifm-font-weight-bold);
}

button.start:hover {
  background: var(--ifm-color-primary-darkest);
}

button.skip {
  background: var(--ifm-color-info-darker);
  margin-left: 10px;
  margin-right: 20px;
  width: 170px;
  border: none;
  box-shadow: var(--ifm-global-shadow-md);
  font-weight: var(--ifm-font-weight-bold);
}

button.skip:hover {
  background: var(--ifm-color-info-darkest);
}

.tool-intro {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

p.tour-intro {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 600;
  margin-right: 20px;
}

div.perma-skip {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

p.dark-startup {
  color: whitesmoke;
}

p.light-startup {
  color: #213547;
}

.tour-buttons {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  div.startup-box-light,
  div.startup-box-dark {
    width: 70%;
  }
}