.theme-selector {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  background-color: white;
  font-size: 0;
  outline: none;
  display: flex;
  max-height: 36px;
  margin-top: 4px;
  margin-left: 4px;
}

.theme-dark .theme-selector {
  background-color: #121212;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}

.theme-selector.active {
  border-radius: 5px 0px 0px 5px;
}

div.layer-control {
  width: 36px;
  height: 36px;
  justify-content: center;
  display: flex;
}

div.layer-control:hover {
  cursor: pointer;
}

img.layer-control {
  background: white;
  width: 30px;
  justify-content: center;
}

svg.icon-layers > path.primary {
  fill: blue;
}

svg.icon-layers > path.secondary {
  fill: cornflowerblue;
}

.theme-selector-popover {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0 2px 4px white;
  border-color: rgba(15, 15, 15, 0.8);
  border: 3px;
}

label.type-selector-checkbox {
  margin: 0px;
  padding: 0px;
}

.type-selector-checkbox > span {
  font-weight: 400;
  font-size: small;
  color: #dddddd;
  font-style: italic;
}

.type-selector-checkbox > span {
  color: #333333;
  font-style: italic;
}

.type-selector-checkbox.dark > span {
  color: #cccccc;
  font-style: italic;
}

.theme-box:nth-child(even) {
  background: #eeeeee;
}

.theme-box.dark:nth-child(even) {
  background: #333333;
}

.theme-dark.theme-selector-popover {
  box-shadow: 0 2px 4px black;
}

button.expand-icon {
  width: 30px;
  height: 38px;
  color: black;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  display: flex;
  padding-top: 4px;
}

button.pin-button {
  width: 30px;
  height: 30px;
  margin-top: 4px;
}

button.expand-icon:focus,
button.pin-button:focus {
  outline: none;
}

.theme-dark .expand-icon {
  color: white;
}
