.theme-selector {
  left: 10px;
  top: 65px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: black;
  font-size: 0;
  outline: none;
  display: flex;
  max-height: 36px;
  margin-top: 4px;
  margin-left: 4px;
}

.theme-selector.active {
  left: 390px;
}

div.layer-control {
  width: 36px;
  height: 36px;
  justify-content: center;
  display: flex;
}

div.layer-control:hover {
  cursor: pointer;
}

img.layer-control {
  background: white;
  width: 30px;
  justify-content: center;
}

svg.icon-layers > path.primary {
  fill: blue;
}

svg.icon-layers > path.secondary {
  fill: cornflowerblue;
}

.theme-selector-popover {
  max-height: 80vh;
  overflow-y: scroll;
}
