.theme-selector {
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: black;
  font-size: 0;
  outline: none;
  display: flex;
  max-height: 32px;
  margin-top: 3px;
}

div.layer-control {
  width: 32px;
  height: 32px;
  justify-content: center;
  display: flex;
}
img.layer-control {
  background: white;
  width: 24px;
  justify-content: center;
}

svg.icon-layers > path.primary {
  fill: blue;
}

svg.icon-layers > path.secondary {
  fill: cornflowerblue;
}
