div.build-panel {
  width: 300px;
}

caption.common-props {
  justify-self: center;
}

caption.other-props {
  justify-self: center;
}

button.building-table {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  place-items: center;
  border-radius: var(--ifm-button-border-radius);
  width: 180px;
  background-color: var(--ifm-color-primary);
  color: white;
  font-weight: 600;
  border: none;
  padding: 5px 10px 5px 10px;
}

button.building-table:hover {
  background-color: var(--ifm-color-primary-light);
}

button.building-table:focus {
  outline: none;
}

table.building-table {
  margin-top: 5px;
  display: grid;
}
