div.div-panel {
  width: 300px;
}

caption.common-props {
  width: max-content;
}

caption.other-props {
  width: max-content;
}

button.divisions-table {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  place-items: center;
  border-radius: var(--ifm-button-border-radius);
  width: 180px;
  background-color: var(--ifm-color-primary);
  color: white;
  font-weight: 600;
  border: none;
  padding: 5px 10px 5px 10px;
}

button.divisions-table:hover {
  background-color: var(--ifm-color-primary-light);
}

button.divisions-table:focus {
  outline: none;
}

table.divisions-table {
  margin-top: 5px;
  display: grid;
}

.theme-dark .inspector-panel {
  button.divisions-table {
    background: var(--ifm-color-primary-light);
  }
}
