button.tool-tip {
  border: none;
  padding: 0;
  width: 12px;
  height: 12px;
  background: none;
}

button.tool-tip:focus {
  outline: none;
}

svg.info-icon {
  width: 12px;
  height: 12px;

  > path.primary {
    fill: gray;
  }
}

.theme-dark svg.info-icon > path.primary {
  fill: whitesmoke;
}

.info-floater-closed {
  pointer-events: none;
  display: none;
}
