.inspector-panel {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 2px 4px white;
  padding: 13px 10px;
  margin: 4px;
  font-size: 13px;
  line-height: 2;
  outline: none;
  border: 3px;
  border-radius: 10px;
  border-color: rgba(15, 15, 15, 0.8);
  max-height: 80vh;
  position: relative;

  p {
    margin: 0;
  }

  @media (max-width: 768px) {
    max-height: 50%;
  }

  table {
    background-color: rgba(255, 255, 255, 0.95);
    overflow-y: scroll;
    overflow-x: auto;
    max-height: 250px;
    table-layout: fixed;
  }

  table th {
    padding: 0;
  }

  .panel-header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    place-items: start;
  }
}

.theme-dark .inspector-panel {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 4px black;
  color: white;

  table {
    background-color: rgba(0, 0, 0, 0);
    scrollbar-color: white rgba(0, 0, 0, 0.2);
  }

  svg.close-panel-icon {
    fill: white;
  }

  button.close-panel-button {
    background: rgba(0, 0, 0, 0);
  }
  button.close-panel-button:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  svg.indent > path.primary {
    fill: white;
  }
}

.theme-light .inspector-panel {
  table {
    scrollbar-color: var(--ifm-color-secondary-darker)
      var(--ifm-color-secondary-light);
  }
}

button.close-panel-button {
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
button.close-panel-button:active {
  outline: none;
}

button.close-panel-button:hover {
  background: var(--ifm-color-secondary-dark);
}

div.panel-row {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
