.inspector-panel {
  td {
    padding: 0;
  }

  td {
    padding-right: 0.5em;
    vertical-align: top;
    border-left: 0;
    border-right: 0;
    word-break: break-all;
  }
  td:first-child {
    text-align: left;
    width: 35%;
    word-break: normal;
    border: none;
  }
  td:last-child {
    overflow: hidden;
    width: 65%;
    display: flex;
    justify-content: space-between;
    border: none;
  }
  tr {
    border-top: none;
    border-bottom: var(--ifm-table-border-width) solid
      var(--ifm-table-border-color);
    display: flex;
  }

  td.expanded {
    max-height: unset;
  }

  td.collapsed {
    max-height: 26px;
  }
}

button.expand {
  justify-self: right;
  border: none;
  border-radius: 50%;
  padding: 0;
  height: 26px;
  width: 26px;
  justify-content: center;
  background-color: unset;
}

button.expand:focus {
  outline: none;
}

div.first-child {
  display: flex;
  justify-content: space-between;
  grid-template-columns: auto auto;
  padding-right: 10px;
}

svg.ec-icon {
  padding-top: 1px;
  fill: var(--ifm-color-secondary-darkest);
}
