div.navigator-box {
  width: 230px;
  max-height: 80vh;
  background: rgba(255, 255, 255, 0.9);
  padding: 13px 10px;
  border-radius: 10px;
  margin: 3px;
  box-shadow: 0 2px 4px white;
  border-color: rgba(15, 15, 15, 0.8);
  border: 3px;
  overflow: hidden;
}

div.navigator-container {
  overflow-y: auto;
  width: 210px;
  height: 416px;
  scrollbar-color: var(--ifm-color-secondary-dark) rgba(0, 0, 0, 0);
}

div.navigator-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

div.navigator-blurb {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 10px;
}

div.navigator-landing {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 13px;
  height: 34px;
  position: relative;
}

p.navigator-welcome {
  padding-top: 8px;
}

button.close-panel-button {
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
button.close-panel-button:active {
  outline: none;
}

button.close-panel-button:hover {
  background-color: var(--ifm-color-secondary-dark);
}

div.navigator-option {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px gray;
}

button.navigator-option {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 5;
  border-radius: 5px;
  color: black;
}

button.navigator-option:focus {
  outline: none;
}

svg.arrow-forward {
  width: 10px;
  height: 10px;
}

div {
  .paris {
    background-image: url("./images/paris.png");
    background-size: 200px 150px;
    margin-top: 0;
  }

  .nyc {
    background-image: url("./images/nyc.png");
    background-size: 200px 150px;
  }

  .world {
    background-image: url("./images/world.png");
    background-size: 200px 150px;
  }

  .london {
    background-image: url("./images/london.png");
    background-size: 200px 150px;
  }

  .boston {
    background-image: url("./images/boston.png");
    background-size: 200px 100px;
  }

  .athens {
    background-image: url("./images/athens.png");
    background-size: 200px 150px;
  }

  .hongkong {
    background-image: url("./images/hongkong.png");
    background-size: 200px 150px;
  }
}

.theme-dark {
  .navigator-box {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 4px black;
  }
  .navigator-landing {
    color: var(--ifm-color-secondary-darkest);
  }
  .close-panel-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
  }
  .close-panel-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  button.navigator-option {
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: white;
  }
  .navigator-blurb {
    color: var(--ifm-color-secondary-darker);
  }
  svg.plane-icon > path {
    fill: var(--ifm-color-primary-light);
  }

  button.navigator-icon {
    background-color: #121212;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    );
  }
}

button.navigator-icon {
  border: none;
  width: 36px;
  height: 36px;
  margin-top: 4px;
  margin-left: 4px;
  padding: 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
}

button.navigator-icon:active,
button.navigator-icon:focus {
  outline: none;
}

svg.plane-icon {
  width: 35px;
  height: 35px;
  padding-bottom: 1px;
  padding-right: 1px;

  path {
    fill: blue;
  }
}
